/* FORM */
#ui-datepicker-div{
    background-color: #337ab7;
}
#booking_ticketNumber{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 0;
}
.block{
    display: block;
}
.btn-group>.btn.active{
    z-index: 1;
    color: white;
    background-color: #337ab7;
}
.radio-inline{
    font-family: 'Lora';
}
input[type="radio"]:checked{
    margin-left: 0px;
}

